@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>Personel Adı</th>
        <th>Personel Soyad</th>
        <th>Personel Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>

    @for(int i=0;i<Model.Rows.Count;i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>
                <img src="@Model.Rows[i][2]" style="width: 150px;height: 100px"/>
            </td>
            @*<td>@Model.Rows[i][2]</td>*@
            <td>@Model.Rows[i][3]</td>
            <td><a class="btn btn-success" href="/Personel/PersonelGetir/@Model.Rows[i][4]">Güncelle</a></td>
            <td><a class="btn btn-info" href="/Departman/DepartmanPersonelSatis/@Model.Rows[i][4]">Satışlar</a></td>
        </tr>
    }

</table>
<a href="/Personel/PersonelEkle" class="btn btn-primary">Personel Ekle</a>




