@model List<OnlineTicariOtomasyon.Models.Sınıflar.Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Fatura", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<table class="table table-bordered" style="margin-top: 20px">
    <tr>

        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Popup Liste</th>
        <th>Yeni Kalem</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.FaturaSeriNo</td>
            <td>@item.FaturaSıraNo</td>
            <td>@item.VergiDairesi</td>
            <td>@item.Tarih</td>
            <td>@item.Saat</td>
            <td>@item.TeslimEden</td>
            <td>@item.TeslimAlan</td>
            <td>@item.Toplam ₺</td>
            <td><a class="btn btn-success" href="/Fatura/FaturaGetir/@item.FaturaId">Güncelle</a></td>
            <td><a class="btn btn-info" href="/Fatura/FaturaDetay/@item.FaturaId">Detaylar</a></td>
            <td><a class="btn btn-danger" href="/Fatura/FaturaDetay/@item.FaturaId">Popup</a></td>
            <td><a class="btn btn-warning" href="/Fatura/FaturaDetay/@item.FaturaId">Kalem</a></td>
        </tr>
    }

</table>
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Yeni Fatura Girişi</a>
<br/>
<br/>
<button type="button" class="btn btn-warning" style="background-color: aquamarine" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Diyalog Ekranı</h2>
            </div>
        </div>
    </div>
</div>

